// Breakpoints
$breakpoint--medium: 500px;
$breakpoint--large: 800px;
$breakpoint--largest: 1200px;

// Colours
$color--black: #000;
$color--white: #fff;
$color--grey: #ccc;
$color--green: #4caf50;

// Text
$font-style--default: 'Roboto', sans-serif;
$font-style--brand: 'Libre Barcode 39 Text', cursive;
$font-style--handwriting: 'Caveat', cursive;
$font-style--signature: 'Homemade Apple', cursive;

$font-size--large: 28px;

$font-size--brand-title: 45px;
$font-size--nav-item: 20px;
$font-size--nav-hamburger: 35px;
$font-size--letter: 30px;

// Borders
$border--default: 1px solid $color--grey;
